body {
    font-family: 'Helvetica Neue', Arial, 'Microsoft JhengHei', sans-serif;
    width: 350px; /* 設定彈出視窗的寬度 */
    margin: 0;
    padding: 10px;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
}

h3 {
    color: #333;
}

.search-area {
    display: flex;
    margin-bottom: 10px;
}

#search-input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

#search-button {
    width: 30%;
    padding: 8px;
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
#search-button:hover {
    background-color: #357ABD;
}

.platform-selection {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 讓選項變成兩行兩列 */
    gap: 5px;
    text-align: left;
    padding: 5px 10px;
}
.select-all {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.select-all:hover {
    background-color: #5a6268;
}